In [1]:
import pandas as pd
from datetime import datetime
import sys
from IPython.display import clear_output

/Users/valentin/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:1035: UserWarning: Duplicate key in file "/Users/valentin/anaconda/lib/python2.7/site-packages/matplotlib/mpl-data/matplotlibrc", line #513
  (fname, cnt))

In [2]:
date = []
chain_store = []
store_no = []
store_name = []
postal_no = []
EAN = []
Produkttekst = []
oms = []
volume = []
avance = []
errors = []
with open('RU udtrëk af salg af õl for 2015  - 20161026.csv') as f:
    lines = f.readlines()
    print(str(len(lines)) + " lines")
    k = len(lines)/100
    j = 0
    for l in lines:
        #clear_output()
        #print j
        #print len(splits)
        l = l.replace('4,5%' , '4.5%')
        l = l.replace('FAKTA,JENS BAGGESENSVEJ' , 'FAKTA - JENS BAGGESENSVEJ')
        splits = l.split(',')
        if len(splits) == 10:
            i = 0
        else:
            i = 1
        date.append(  datetime.strptime(splits[0].replace('\xef\xbb\xbf',''), '%Y-%m-%d') )
        chain_store.append(splits[1])
        store_no.append(int(splits[2]))
        store_name.append(splits[3])
        postal_no.append(int(splits[4+i]))
        EAN.append(splits[5+i])
        Produkttekst.append(splits[6+i])
        oms.append(float(splits[7+i]))
        volume.append(int(float(splits[8+i])))
        avance.append(int(float(splits[9+i][:-4])))

        j += 1
        if j % k == 0:
            clear_output()
            print str(int(float(j)/float(len(lines))*100.0)) + '%'

df = pd.DataFrame( {'date': date , 'chain_store' : chain_store, 'store_no': store_no, 'store_name':store_name,'postal_no':postal_no,
                   'EAN':EAN,'Produkttekst': Produkttekst, 'oms':oms, 'volume':volume, 'avance':avance})
df[:10]
print(len(df))

99%
6094460

## add weather data

In [4]:
def zipToRegion(zip):
    
    # 1-2 Copenhagen
    if (zip >= 1000 and zip <= 2999):
        return 618800
        
    # 3 Sealand
    if (zip >= 3000 and zip <= 3699) or (zip >= 4000 and zip <= 4999):
        return 617400
        
    # 5 Fyn and the islands
    if (zip >= 5000 and zip <= 5999):
        return 612600
        
    # 6 Southern/Western Jutland
    if (zip >= 6000 and zip <= 6999):
        return 6116
    
    # skip th
    if (zip >= 7000 and zip <= 7999):
        return 0
        
    # 7 Eastern Jutland
    if (zip >= 8000 and zip <= 8999):
        return 607200
    
    # 9 Northern Jutland
    if (zip >= 9000 and zip <= 9999):
        return 603100

In [6]:
df['region'] = df['postal_no'].map(zipToRegion)
df

,EAN,Produkttekst,avance,chain_store,date,oms,postal_no,store_name,store_no,volume,region
0,5741000116975,Royal B X-mas 6x33ds,1,DagliBrugsen,2015-01-01,31.00,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800
1,5741000131084,Royal Export 6x33 ds,-13,DagliBrugsen,2015-01-01,100.00,2300,COOP DAGLIBR BRYDES ALLE,1043,4,618800
2,5741000140284,ROYAL PLATINUM 6-PAK,8,DagliBrugsen,2015-01-01,39.95,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800
3,5741000131084,Royal Export 6x33 ds,17,DagliBrugsen,2015-01-01,79.90,2400,COOP DAGLIBR BISPEPARKEN,1053,2,618800
4,5741000132463,Royal Exp. kuffert24,-19,DagliBrugsen,2015-01-01,299.85,2650,COOP LOKALBR FJELDSTEDVEJ,1082,3,618800
5,5741000131084,Royal Export 6x33 ds,9,DagliBrugsen,2015-01-01,39.95,4000,COOP DAGLIBR GEVNINGE,1099,1,617400
6,5741000116494,Royal Class. 6x33 ds,8,DagliBrugsen,2015-01-01,38.95,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400
7,5741000125021,Royal Stout 33 cl ds,6,DagliBrugsen,2015-01-01,21.50,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,2,617400
8,5741000132456,Royal Class. 24ds,-4,DagliBrugsen,2015-01-01,99.95,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400
9,5741000132463,Royal Exp. kuffert24,-6,DagliBrugsen,2015-01-01,99.95,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400
10,5741000135051,X-MAS KUFFERT HVID,-23,DagliBrugsen,2015-01-01,79.00,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400
11,5741000116494,Royal Class. 6x33 ds,10,DagliBrugsen,2015-01-01,40.95,2500,COOP LOKALBR HERMAN BANGS PLAD,1134,1,618800
12,5741000117958,Royal Plsnr 6x33 ds,10,DagliBrugsen,2015-01-01,40.95,2500,COOP LOKALBR HERMAN BANGS PLAD,1134,1,618800
13,5741000131077,Royal Export ds,7,DagliBrugsen,2015-01-01,24.00,2500,COOP LOKALBR HERMAN BANGS PLAD,1134,2,618800
14,5741000132463,Royal Exp. kuffert24,-6,DagliBrugsen,2015-01-01,99.95,4000,COOP DAGLIBRUGSEN HEDEGÅRDENE,1160,1,617400
15,5741000132463,Royal Exp. kuffert24,-13,DagliBrugsen,2015-01-01,199.90,2610,COOP DAGLIBRUGSEN ISLEV TORV,1194,2,618800
16,5741000135013,HEINEKEN KUFFERT,-13,DagliBrugsen,2015-01-01,199.90,2610,COOP DAGLIBRUGSEN ISLEV TORV,1194,2,618800
17,5741000135051,X-MAS KUFFERT HVID,-23,DagliBrugsen,2015-01-01,79.00,2610,COOP DAGLIBRUGSEN ISLEV TORV,1194,1,618800
18,57107776,ALBANI GIRAF BEER 33,3,DagliBrugsen,2015-01-01,11.95,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800
19,5741000125021,Royal Stout 33 cl ds,3,DagliBrugsen,2015-01-01,10.75,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800
20,5741000131077,Royal Export ds,9,DagliBrugsen,2015-01-01,61.50,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,8,618800
21,5741000135013,HEINEKEN KUFFERT,-13,DagliBrugsen,2015-01-01,199.90,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,2,618800
22,5741000138618,DORTMUNDER 50 CL DS,5,DagliBrugsen,2015-01-01,17.95,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800
23,5741000140116,ROYAL PILSNER PINT,10,DagliBrugsen,2015-01-01,27.90,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,2,618800
24,5741000140130,ROYAL CLASSIC PINT,5,DagliBrugsen,2015-01-01,13.95,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800
25,5741000116494,Royal Class. 6x33 ds,8,DagliBrugsen,2015-01-01,38.95,4320,COOP DAGLIBR OSTED,1258,1,617400
26,5741000117958,Royal Plsnr 6x33 ds,8,DagliBrugsen,2015-01-01,38.95,4320,COOP DAGLIBR OSTED,1258,1,617400
27,5741000125038,Royal Stout 6x33 ds,18,DagliBrugsen,2015-01-01,87.90,4320,COOP DAGLIBR OSTED,1258,2,617400
28,5741000135051,X-MAS KUFFERT HVID,-23,DagliBrugsen,2015-01-01,79.00,4320,COOP DAGLIBR OSTED,1258,1,617400
29,5741000132463,Royal Exp. kuffert24,-6,DagliBrugsen,2015-01-01,99.95,4060,COOP DAGLIBR KIRKE SÅBY,1330,1,617400
...,...,...,...,...,...,...,...,...,...,...,...
6094430,5741000132456,Royal Class. 24ds,4,SuperBrugsen,2016-10-23,99.95,3790,COOP SUPERBR HASLE,9017,1,NaN
6094431,5741000132463,Royal Exp. kuffert24,1,SuperBrugsen,2016-10-23,99.95,3790,COOP SUPERBR HASLE,9017,1,NaN
6094432,5741000133491,ROYAL CLASSIC,-5,SuperBrugsen,2016-10-23,69.95,3790,COOP SUPERBR HASLE,9017,24,NaN
6094433,5741000135013,HEINEKEN KUFFERT,2,SuperBrugsen,2016-10-23,199.90,3790,COOP SUPERBR HASLE,9017,2,NaN
6094434,7501049929404,SOL 4.5% FLASKE,4,SuperBrugsen,2016-10-23,13.95,3790,COOP SUPERBR HASLE,9017,1,NaN
6094435,5741000116494,Royal Class. 6x33 ds,11,SuperBrugsen,2016-10-23,39.95,3782,SUPERBRUGSEN KLEMENSKER,9021,1,NaN
6094436,5741000125038,Royal Stout 6x33 ds,11,SuperBrugsen,2016-10-23,42.95,3782,SUPERBRUGSEN KLEMENSKER,9021,1,NaN
6094437,5741000125892,Ceres hvidtøl 6fl,7,SuperBrugsen,2016-10-23,25.00,3782,SUPERBRUGSEN KLEMENSKER,9021,1,NaN
6094438,5741000126875,Heineken 6x33 cl ds,11,SuperBrugsen,2016-10-23,42.95,3782,SUPERBRUGSEN KLEMENSKER,9021,1,NaN
6094439,5741000131084,Royal Export 6x33 ds,21,SuperBrugsen,2016-10-23,79.90,3782,SUPERBRUGSEN KLEMENSKER,9021,2,NaN
6094440,5741000131503,Giraf Beer 50 cl ds,4,SuperBrugsen,2016-10-23,30.00,3782,SUPERBRUGSEN KLEMENSKER,9021,2,NaN
6094441,5741000132456,Royal Class. 24ds,11,SuperBrugsen,2016-10-23,299.85,3782,SUPERBRUGSEN KLEMENSKER,9021,3,NaN
6094442,5741000132463,Royal Exp. kuffert24,9,SuperBrugsen,2016-10-23,999.50,3782,SUPERBRUGSEN KLEMENSKER,9021,10,NaN
6094443,5741000133491,ROYAL CLASSIC,-5,SuperBrugsen,2016-10-23,69.95,3782,SUPERBRUGSEN KLEMENSKER,9021,24,NaN
6094444,5741000135013,HEINEKEN KUFFERT,1,SuperBrugsen,2016-10-23,99.95,3782,SUPERBRUGSEN KLEMENSKER,9021,1,NaN
6094445,5741000140130,ROYAL CLASSIC PINT,5,SuperBrugsen,2016-10-23,25.00,3782,SUPERBRUGSEN KLEMENSKER,9021,2,NaN
6094446,5741000144411,SCHIØTZ BOHEMIAN,6,SuperBrugsen,2016-10-23,30.00,3782,SUPERBRUGSEN KLEMENSKER,9021,2,NaN
6094447,5741000144428,SCHIØTZ GYLDEN IPA,6,SuperBrugsen,2016-10-23,30.00,3782,SUPERBRUGSEN KLEMENSKER,9021,2,NaN
6094448,5741000125038,Royal Stout 6x33 ds,11,SuperBrugsen,2016-10-23,42.95,3700,COOP SUPERBR RØNNE SYD,9130,1,NaN
6094449,5741000126868,Heineken ds a 33 cl,2,SuperBrugsen,2016-10-23,19.50,3700,COOP SUPERBR RØNNE SYD,9130,2,NaN
6094450,5741000131084,Royal Export 6x33 ds,42,SuperBrugsen,2016-10-23,159.80,3700,COOP SUPERBR RØNNE SYD,9130,4,NaN
6094451,5741000131527,H.C. Andersen ds 50,4,SuperBrugsen,2016-10-23,16.95,3700,COOP SUPERBR RØNNE SYD,9130,1,NaN
6094452,5741000132463,Royal Exp. kuffert24,2,SuperBrugsen,2016-10-23,199.90,3700,COOP SUPERBR RØNNE SYD,9130,2,NaN
6094453,5741000133491,ROYAL CLASSIC,-5,SuperBrugsen,2016-10-23,69.95,3700,COOP SUPERBR RØNNE SYD,9130,24,NaN
6094454,5741000135013,HEINEKEN KUFFERT,2,SuperBrugsen,2016-10-23,199.90,3700,COOP SUPERBR RØNNE SYD,9130,2,NaN
6094455,5741000135648,GIRAF BLACK 50 CL,4,SuperBrugsen,2016-10-23,30.00,3700,COOP SUPERBR RØNNE SYD,9130,2,NaN
6094456,5741000138618,DORTMUNDER 50 CL DS,4,SuperBrugsen,2016-10-23,16.95,3700,COOP SUPERBR RØNNE SYD,9130,1,NaN
6094457,5741000140116,ROYAL PILSNER PINT,4,SuperBrugsen,2016-10-23,13.95,3700,COOP SUPERBR RØNNE SYD,9130,1,NaN
6094458,5741000140130,ROYAL CLASSIC PINT,8,SuperBrugsen,2016-10-23,27.90,3700,COOP SUPERBR RØNNE SYD,9130,2,NaN
6094459,7501049929404,SOL 4.5% FLASKE,4,SuperBrugsen,2016-10-23,13.95,3700,COOP SUPERBR RØNNE SYD,9130,1,NaN

## load weather data

In [ ]:
df.to_csv('')

In [ ]:
df.to_csv('cleaned_sales+weather_data.csv')