In [1]:
import pandas as pd
from datetime import datetime
import sys
from IPython.display import clear_output

/Users/valentin/anaconda/lib/python2.7/site-packages/matplotlib/__init__.py:1035: UserWarning: Duplicate key in file "/Users/valentin/anaconda/lib/python2.7/site-packages/matplotlib/mpl-data/matplotlibrc", line #513
  (fname, cnt))

In [2]:
date = []
chain_store = []
store_no = []
store_name = []
postal_no = []
EAN = []
Produkttekst = []
oms = []
volume = []
avance = []
errors = []
with open('RU udtrëk af salg af õl for 2015  - 20161026.csv') as f:
    lines = f.readlines()
    print(str(len(lines)) + " lines")
    k = len(lines)/100
    j = 0
    for l in lines:
        #clear_output()
        #print j
        #print len(splits)
        l = l.replace('4,5%' , '4.5%')
        l = l.replace('FAKTA,JENS BAGGESENSVEJ' , 'FAKTA - JENS BAGGESENSVEJ')
        splits = l.split(',')
        if len(splits) == 10:
            i = 0
        else:
            i = 1
        date.append(  datetime.strptime(splits[0].replace('\xef\xbb\xbf',''), '%Y-%m-%d') )
        chain_store.append(splits[1])
        store_no.append(int(splits[2]))
        store_name.append(splits[3])
        postal_no.append(int(splits[4+i]))
        EAN.append(splits[5+i])
        Produkttekst.append(splits[6+i])
        oms.append(float(splits[7+i]))
        volume.append(int(float(splits[8+i])))
        avance.append(int(float(splits[9+i][:-4])))

        j += 1
        if j % k == 0:
            clear_output()
            print str(int(float(j)/float(len(lines))*100.0)) + '%'

df = pd.DataFrame( {'date': date , 'chain_store' : chain_store, 'store_no': store_no, 'store_name':store_name,'postal_no':postal_no,
                   'EAN':EAN,'Produkttekst': Produkttekst, 'oms':oms, 'volume':volume, 'avance':avance})
print(len(df))

99%
6094460

In [8]:
df[:10]

,EAN,Produkttekst,avance,chain_store,date,oms,postal_no,store_name,store_no,volume,station
0,5741000116975,Royal B X-mas 6x33ds,1,DagliBrugsen,2015-01-01,31.00,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800
1,5741000131084,Royal Export 6x33 ds,-13,DagliBrugsen,2015-01-01,100.00,2300,COOP DAGLIBR BRYDES ALLE,1043,4,618800
2,5741000140284,ROYAL PLATINUM 6-PAK,8,DagliBrugsen,2015-01-01,39.95,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800
3,5741000131084,Royal Export 6x33 ds,17,DagliBrugsen,2015-01-01,79.90,2400,COOP DAGLIBR BISPEPARKEN,1053,2,618800
4,5741000132463,Royal Exp. kuffert24,-19,DagliBrugsen,2015-01-01,299.85,2650,COOP LOKALBR FJELDSTEDVEJ,1082,3,618800
5,5741000131084,Royal Export 6x33 ds,9,DagliBrugsen,2015-01-01,39.95,4000,COOP DAGLIBR GEVNINGE,1099,1,617400
6,5741000116494,Royal Class. 6x33 ds,8,DagliBrugsen,2015-01-01,38.95,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400
7,5741000125021,Royal Stout 33 cl ds,6,DagliBrugsen,2015-01-01,21.50,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,2,617400
8,5741000132456,Royal Class. 24ds,-4,DagliBrugsen,2015-01-01,99.95,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400
9,5741000132463,Royal Exp. kuffert24,-6,DagliBrugsen,2015-01-01,99.95,4000,DAGLIBRUGSEN GUNDSØMAGLE,1104,1,617400

## add weather data

In [3]:
def zipToRegion(zip):
    
    # 1-2 Copenhagen
    if (zip >= 1000 and zip <= 2999):
        return 618800
        
    # 3 Sealand
    if (zip >= 3000 and zip <= 3699) or (zip >= 4000 and zip <= 4999):
        return 617400
        
    # 5 Fyn and the islands
    if (zip >= 5000 and zip <= 5999):
        return 612600
        
    # 6 Southern/Western Jutland
    if (zip >= 6000 and zip <= 6999):
        return 6116
    
    # skip th
    if (zip >= 7000 and zip <= 7999):
        return 0
        
    # 7 Eastern Jutland
    if (zip >= 8000 and zip <= 8999):
        return 607200
    
    # 9 Northern Jutland
    if (zip >= 9000 and zip <= 9999):
        return 603100

In [4]:
df['station'] = df['postal_no'].map(zipToRegion)
df[:3]

,EAN,Produkttekst,avance,chain_store,date,oms,postal_no,store_name,store_no,volume,station
0,5741000116975,Royal B X-mas 6x33ds,1,DagliBrugsen,2015-01-01,31.00,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800
1,5741000131084,Royal Export 6x33 ds,-13,DagliBrugsen,2015-01-01,100.00,2300,COOP DAGLIBR BRYDES ALLE,1043,4,618800
2,5741000140284,ROYAL PLATINUM 6-PAK,8,DagliBrugsen,2015-01-01,39.95,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800

## load weather data

In [24]:
cols = ["station", "year", "month", "day", 
        "temp", "wind", "sun", "precipitations"]

df_weather = pd.read_csv("data/2015_weather_new.csv", sep=";", 
                         skiprows=1, names=cols)

df_weather['date'] = df_weather.year*10000 + df_weather.month*100 + df_weather.day
df_weather['date'] = df_weather['date'].map( lambda x: datetime.strptime( str(x) , '%Y%m%d'))
df_weather = df_weather.drop( ['year','month','day'] , 1)
df_weather[:10]

   station  temp  wind  sun  precipitations       date
0   618800   5.5   6.1  0.0             1.9 2015-01-01
1   618800   5.9   9.3  2.2             1.3 2015-01-02
2   618800   3.9   6.5  3.3             1.6 2015-01-03
3   618800   3.4   4.9  4.1             0.0 2015-01-04
4   618800   1.8   1.2  0.0             1.0 2015-01-05
5   618800   2.1   3.6  0.0             0.0 2015-01-06
6   618800   3.3   3.8  5.4             1.1 2015-01-07
7   618800   5.1   4.8  0.0             2.8 2015-01-08
8   618800   5.2   7.7  0.8             7.5 2015-01-09
9   618800   5.6   8.1  0.2            10.0 2015-01-10

In [29]:
merged = pd.merge(df,df_weather, on=['date','station'])

In [30]:
merged

,EAN,Produkttekst,avance,chain_store,date,oms,postal_no,store_name,store_no,volume,station,temp,wind,sun,precipitations
0,5741000116975,Royal B X-mas 6x33ds,1,DagliBrugsen,2015-01-01,31.00,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800,5.5,6.1,0,1.9
1,5741000131084,Royal Export 6x33 ds,-13,DagliBrugsen,2015-01-01,100.00,2300,COOP DAGLIBR BRYDES ALLE,1043,4,618800,5.5,6.1,0,1.9
2,5741000140284,ROYAL PLATINUM 6-PAK,8,DagliBrugsen,2015-01-01,39.95,2300,COOP DAGLIBR BRYDES ALLE,1043,1,618800,5.5,6.1,0,1.9
3,5741000131084,Royal Export 6x33 ds,17,DagliBrugsen,2015-01-01,79.90,2400,COOP DAGLIBR BISPEPARKEN,1053,2,618800,5.5,6.1,0,1.9
4,5741000132463,Royal Exp. kuffert24,-19,DagliBrugsen,2015-01-01,299.85,2650,COOP LOKALBR FJELDSTEDVEJ,1082,3,618800,5.5,6.1,0,1.9
5,5741000116494,Royal Class. 6x33 ds,10,DagliBrugsen,2015-01-01,40.95,2500,COOP LOKALBR HERMAN BANGS PLAD,1134,1,618800,5.5,6.1,0,1.9
6,5741000117958,Royal Plsnr 6x33 ds,10,DagliBrugsen,2015-01-01,40.95,2500,COOP LOKALBR HERMAN BANGS PLAD,1134,1,618800,5.5,6.1,0,1.9
7,5741000131077,Royal Export ds,7,DagliBrugsen,2015-01-01,24.00,2500,COOP LOKALBR HERMAN BANGS PLAD,1134,2,618800,5.5,6.1,0,1.9
8,5741000132463,Royal Exp. kuffert24,-13,DagliBrugsen,2015-01-01,199.90,2610,COOP DAGLIBRUGSEN ISLEV TORV,1194,2,618800,5.5,6.1,0,1.9
9,5741000135013,HEINEKEN KUFFERT,-13,DagliBrugsen,2015-01-01,199.90,2610,COOP DAGLIBRUGSEN ISLEV TORV,1194,2,618800,5.5,6.1,0,1.9
10,5741000135051,X-MAS KUFFERT HVID,-23,DagliBrugsen,2015-01-01,79.00,2610,COOP DAGLIBRUGSEN ISLEV TORV,1194,1,618800,5.5,6.1,0,1.9
11,57107776,ALBANI GIRAF BEER 33,3,DagliBrugsen,2015-01-01,11.95,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800,5.5,6.1,0,1.9
12,5741000125021,Royal Stout 33 cl ds,3,DagliBrugsen,2015-01-01,10.75,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800,5.5,6.1,0,1.9
13,5741000131077,Royal Export ds,9,DagliBrugsen,2015-01-01,61.50,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,8,618800,5.5,6.1,0,1.9
14,5741000135013,HEINEKEN KUFFERT,-13,DagliBrugsen,2015-01-01,199.90,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,2,618800,5.5,6.1,0,1.9
15,5741000138618,DORTMUNDER 50 CL DS,5,DagliBrugsen,2015-01-01,17.95,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800,5.5,6.1,0,1.9
16,5741000140116,ROYAL PILSNER PINT,10,DagliBrugsen,2015-01-01,27.90,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,2,618800,5.5,6.1,0,1.9
17,5741000140130,ROYAL CLASSIC PINT,5,DagliBrugsen,2015-01-01,13.95,2770,COOP DAGLIBR LØJTEGÅRDSVEJ,1224,1,618800,5.5,6.1,0,1.9
18,5741000126875,Heineken 6x33 cl ds,17,DagliBrugsen,2015-01-01,79.90,2500,COOP DAGLIBR FOLEHAVEN,1490,2,618800,5.5,6.1,0,1.9
19,5741000131084,Royal Export 6x33 ds,9,DagliBrugsen,2015-01-01,39.95,2500,COOP DAGLIBR FOLEHAVEN,1490,1,618800,5.5,6.1,0,1.9
20,5741000131329,Royal Export 50 ds,6,DagliBrugsen,2015-01-01,17.95,2500,COOP DAGLIBR FOLEHAVEN,1490,1,618800,5.5,6.1,0,1.9
21,5741000131527,H.C. Andersen ds 50,5,DagliBrugsen,2015-01-01,17.95,2500,COOP DAGLIBR FOLEHAVEN,1490,1,618800,5.5,6.1,0,1.9
22,5741000135013,HEINEKEN KUFFERT,-6,DagliBrugsen,2015-01-01,99.95,2500,COOP DAGLIBR FOLEHAVEN,1490,1,618800,5.5,6.1,0,1.9
23,5741000135648,GIRAF BLACK 50 CL,4,DagliBrugsen,2015-01-01,54.00,2500,COOP DAGLIBR FOLEHAVEN,1490,4,618800,5.5,6.1,0,1.9
24,5741000131084,Royal Export 6x33 ds,10,DagliBrugsen,2015-01-01,42.00,2500,COOP LOKALBR SKYTTEGÅRDEN,1885,1,618800,5.5,6.1,0,1.9
25,5741000132463,Royal Exp. kuffert24,-13,DagliBrugsen,2015-01-01,199.90,2500,COOP LOKALBR SKYTTEGÅRDEN,1885,2,618800,5.5,6.1,0,1.9
26,5741000126899,Heineken 50 cl ds,13,DagliBrugsen,2015-01-01,37.90,2800,COOP LOKALBRUGSEN HJORTEKÆR,8022,2,618800,5.5,6.1,0,1.9
27,5741000131503,Giraf Beer 50 cl ds,27,DagliBrugsen,2015-01-01,94.75,2800,COOP LOKALBRUGSEN HJORTEKÆR,8022,5,618800,5.5,6.1,0,1.9
28,5741000135648,GIRAF BLACK 50 CL,27,DagliBrugsen,2015-01-01,94.75,2800,COOP LOKALBRUGSEN HJORTEKÆR,8022,5,618800,5.5,6.1,0,1.9
29,5741000140130,ROYAL CLASSIC PINT,6,DagliBrugsen,2015-01-01,14.95,2800,COOP LOKALBRUGSEN HJORTEKÆR,8022,1,618800,5.5,6.1,0,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4860907,5741000131077,Royal Export ds,2,SuperBrugsen,2016-10-23,10.50,9990,COOP SUPERBR SKAGEN,7400,1,603100,4.7,4.4,0,5.3
4860908,5741000132111,Heineken Beer 33 cl,2,SuperBrugsen,2016-10-23,9.25,9990,COOP SUPERBR SKAGEN,7400,1,603100,4.7,4.4,0,5.3
4860909,5741000132463,Royal Exp. kuffert24,2,SuperBrugsen,2016-10-23,199.90,9990,COOP SUPERBR SKAGEN,7400,2,603100,4.7,4.4,0,5.3
4860910,5741000135013,HEINEKEN KUFFERT,3,SuperBrugsen,2016-10-23,299.85,9990,COOP SUPERBR SKAGEN,7400,3,603100,4.7,4.4,0,5.3
4860911,5741000140116,ROYAL PILSNER PINT,4,SuperBrugsen,2016-10-23,13.95,9990,COOP SUPERBR SKAGEN,7400,1,603100,4.7,4.4,0,5.3
4860912,5741000144411,SCHIØTZ BOHEMIAN,6,SuperBrugsen,2016-10-23,30.00,9990,COOP SUPERBR SKAGEN,7400,2,603100,4.7,4.4,0,5.3
4860913,5741000144428,SCHIØTZ GYLDEN IPA,6,SuperBrugsen,2016-10-23,29.96,9990,COOP SUPERBR SKAGEN,7400,2,603100,4.7,4.4,0,5.3
4860914,5741000144435,SCHIØTZ MØRK MUMME,9,SuperBrugsen,2016-10-23,45.04,9990,COOP SUPERBR SKAGEN,7400,3,603100,4.7,4.4,0,5.3
4860915,5741000146521,SCHIØTZ BELGISK IPA,3,SuperBrugsen,2016-10-23,15.00,9990,COOP SUPERBR SKAGEN,7400,1,603100,4.7,4.4,0,5.3
4860916,5741000000915,Ceres Julehvidtøl 33,25,SuperBrugsen,2016-10-23,64.75,9690,SUPERBRUGSEN FJERRITSLEV,7441,15,603100,4.7,4.4,0,5.3
4860917,5741000131084,Royal Export 6x33 ds,11,SuperBrugsen,2016-10-23,39.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860918,5741000131329,Royal Export 50 ds,5,SuperBrugsen,2016-10-23,15.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860919,5741000131503,Giraf Beer 50 cl ds,9,SuperBrugsen,2016-10-23,33.90,9690,SUPERBRUGSEN FJERRITSLEV,7441,2,603100,4.7,4.4,0,5.3
4860920,5741000131527,H.C. Andersen ds 50,4,SuperBrugsen,2016-10-23,16.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860921,5741000133453,ROYAL PILSNER 33 CL,-5,SuperBrugsen,2016-10-23,69.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,24,603100,4.7,4.4,0,5.3
4860922,5741000133491,ROYAL CLASSIC,-5,SuperBrugsen,2016-10-23,69.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,24,603100,4.7,4.4,0,5.3
4860923,5741000135013,HEINEKEN KUFFERT,1,SuperBrugsen,2016-10-23,99.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860924,5741000135648,GIRAF BLACK 50 CL,4,SuperBrugsen,2016-10-23,16.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860925,5741000138618,DORTMUNDER 50 CL DS,4,SuperBrugsen,2016-10-23,16.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860926,5741000138632,BLÅ THOR 50 CL DS,4,SuperBrugsen,2016-10-23,16.95,9690,SUPERBRUGSEN FJERRITSLEV,7441,1,603100,4.7,4.4,0,5.3
4860927,5741000000915,Ceres Julehvidtøl 33,6,SuperBrugsen,2016-10-23,25.00,9550,SUPERBRUGSEN MARIAGER,7470,6,603100,4.7,4.4,0,5.3
4860928,5741000116494,Royal Class. 6x33 ds,13,SuperBrugsen,2016-10-23,70.00,9550,SUPERBRUGSEN MARIAGER,7470,2,603100,4.7,4.4,0,5.3
4860929,5741000117958,Royal Plsnr 6x33 ds,7,SuperBrugsen,2016-10-23,35.00,9550,SUPERBRUGSEN MARIAGER,7470,1,603100,4.7,4.4,0,5.3
4860930,5741000125892,Ceres hvidtøl 6fl,7,SuperBrugsen,2016-10-23,25.00,9550,SUPERBRUGSEN MARIAGER,7470,1,603100,4.7,4.4,0,5.3
4860931,5741000126875,Heineken 6x33 cl ds,9,SuperBrugsen,2016-10-23,70.00,9550,SUPERBRUGSEN MARIAGER,7470,2,603100,4.7,4.4,0,5.3
4860932,5741000131084,Royal Export 6x33 ds,20,SuperBrugsen,2016-10-23,105.00,9550,SUPERBRUGSEN MARIAGER,7470,3,603100,4.7,4.4,0,5.3
4860933,5741000131503,Giraf Beer 50 cl ds,4,SuperBrugsen,2016-10-23,16.95,9550,SUPERBRUGSEN MARIAGER,7470,1,603100,4.7,4.4,0,5.3
4860934,5741000132463,Royal Exp. kuffert24,3,SuperBrugsen,2016-10-23,299.85,9550,SUPERBRUGSEN MARIAGER,7470,3,603100,4.7,4.4,0,5.3
4860935,5741000133491,ROYAL CLASSIC,-5,SuperBrugsen,2016-10-23,69.95,9550,SUPERBRUGSEN MARIAGER,7470,24,603100,4.7,4.4,0,5.3
4860936,5741000135013,HEINEKEN KUFFERT,4,SuperBrugsen,2016-10-23,399.80,9550,SUPERBRUGSEN MARIAGER,7470,4,603100,4.7,4.4,0,5.3

### save to file

In [31]:
merged.to_csv('cleaned_sales+weather_data.csv')